.section {
  height: 60rem;
  width: 50vw;
}

.section h1 {
  color: var(--secondary-color);
  font-family: var(--font-mono);
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0;
}

.section h2 {
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: 4.75rem;
  font-weight: 800;
  margin: 0;
}

.section h3 {
  color: var(--tertiary-color);
  font-family: var(--font-mono);
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.section p {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
  max-width: 50rem;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.section-title-text {
  width: 80%;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: var(--secondary-color);
}
